.component-income {
    height: 100%;
    .income-view {
        .income-year {
            padding-top: 1rem;
            color: white;
            .input-group {
                width: 18%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                label {
                    font-size: 1.25rem;
                    align-self: center;
                    position: relative;
                    top: 0.5vh;
                }
            }
        }
        .card {
            width: 97%;
            margin: 0 auto;
            margin-top: 1rem;
        }
        .stats {
            .row {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }
        h4,
        h6,
        p {
            text-align: center;
        }
        h6 {
            font-size: 1.625rem;
        }
        .total-income {
            border: 1px solid grey;
            padding: 5px;
            border-radius: 5px;
            p {
                font-size: 1.5rem;
            }
        }
        .card-body {
            display: flex;
            flex-direction: column;
            .stats {
                display: flex;
                justify-content: space-around;
                margin-bottom: 2rem;
                .card {
                    background-color: rgba(75, 192, 192, 1);
                    padding: 0.75rem 0;
                    color: #fff;
                    font-weight: bold;
                    h6 {
                        font-size: 1.625rem;
                        text-align: center;
                        margin: 0;
                    }
                    p {
                        text-align: center;
                        font-size: 1.25rem;
                        margin: 0;
                    }
                }
            }
        }
        .graphs {
            width: 100%;
            .income-monthly {
                margin-bottom: 1rem;
                border: 1px solid $primary-yellow;
                border-radius: 5px;
                padding: 1rem 0.5rem;
            }
            h5 {
                color: #fff;
                text-align: center;
            }
            .component-income-chart {
                width: 100%;
            }
        }
    }
}

.component-income-list {
    height: 87vh;
}

.component-income-add {
    color: $light;
    .form {
        width: 80%;
        margin: 0 auto;
        margin-top: 1rem;
        h5 {
            text-align: center;
            font-size: 1.75rem;
        }
        .form-group {
            label {
                font-size: 1.25rem;
            }
            input {
                padding: 10px 4px;
            }
        }
    }
    i {
        font-size: 1.25rem;
    }
    .company {
        display: flex;
        justify-content: space-between;
        .btn-empty {
            background-color: transparent;
            border: none;
            i {
                color: $light;
            }
        }
    }
}