.component-expenses {
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .component-expenses-view {
        margin: 2rem 0;
        h4,
        h5 {
            text-align: center;
        }
        h5 {
            color: #000;
        }
        .graph {
            margin: 1.25rem 0;
        }

        .expenses-metrics-header{
            display: flex;
            justify-content: center;
            margin-bottom: 0.25rem;
            .input-group{
                width: 10.5rem;
                display: flex;
                justify-content: space-between;
                label{
                    font-size: 1.125rem;
                    position: relative;
                    top: 0.5vh;
                }
            }
        }
    }
    .expenses-metrics-overall {
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
        margin-bottom: 0.5rem;
        h6 {
            font-size: 1.625rem;
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
}

.component-expenses-table {
    padding: 0 2rem;
    .expenses-header {
        display: flex;
        justify-content: space-between;
    }
    .actions {
        button {
            width: 25%;
        }
        i {
            font-size: 1.25rem;
        }
        button:last-child {
            margin-left: 0.5rem;
        }
    }
    .expenses-search {
        display: flex;
        .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .expenses-table {
        margin-top: 1.5rem;
        td,
        th {
            text-align: center;
        }
    }
}

.component-add-expense {
    .card-header {
        display: flex;
        justify-content: space-between;
    }
    .expense-submit {
        display: flex;
        justify-content: flex-end;
    }
    .card {
        border-bottom: none;
    }

    .form-group:first-child{
        .react-datepicker-wrapper{
            width: 100%;
        }
        .react-datepicker__input-container{
            width: 100%;  
        }
        input{
            width: 100%;
        }
    }
    .card-body {
        padding-left: 7rem;
        padding-right: 7rem;
    }
    h5 {
        color: #000;
        text-align: center;
    }
    .form-header {
        width: 35%;
        margin: 0 auto;
    }
}

.component-add-category {
    .card-header {
        display: flex;
        justify-content: space-between;
    }
    form {
        width: 65%;
        margin: 0 auto;
        margin-top: 2rem;
        
    }
    .category-submit {
        display: flex;
        justify-content: flex-end;
    }
}

.component-expense-list {
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem 0;
    h4 {
        text-align: center;
    }
    .table-controls {
        display: flex;
        justify-content: flex-end;
    }
    table {
        th,
        td {
            text-align: center;
        }
        td {
            padding: 0 12px;
            height: 2.75rem;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
            .btn {
                padding: 5px 10px;
            }
            .btn:last-child {
                position: relative;
                left: 0.8rem;
            }
        }
    }
}