.component-payroll {
    .row {
        margin-bottom: 1.5rem;
    }
    .payroll-header {  
        position: relative;
        margin: 1.5rem 0;
        h4 {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 1.25rem;
        }
        
        .form-group{
            position: absolute;
            left: 3%;
            top: 90%;
            width: 16%;
            display: flex;
            justify-content: space-between;  
            label{
                font-size: 1.1rem;
                position: relative;
                top: 0.5vh;
            }
        }
    }
    h5 {
        color: #000;
    }
    h6 {
        text-align: center;
    }
    .chart {
        margin-bottom: 0.8rem;
    }
    .payroll-container {
        display: flex;
        align-items: center;
    }
}

.component-payroll-add {
    width: 65%;
    margin: 0 auto;
    .form-header {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .react-datepicker__input-container {
        input {
            width: 330%;
        }
    }
    margin-top: 2.5rem;
    .submit-payroll {
        display: flex;
        justify-content: flex-end;
        button:last-child {
            margin-left: 1rem;
        }
    }
}

.component-payroll-chart {
    .row {
        display: flex;
        justify-content: center;
    }
}

.component-payroll-table {
    table {
        th,
        td {
            text-align: center;
        }
        td {
            .btn {
                padding: 5px 10px;
            }
            .btn:last-child {
                position: relative;
                left: 0.8rem;
            }
            span {
                position: relative;
                top: 5px;
            }
        }
    }
    .table-controls {
        display: flex;
        justify-content: flex-end;
    }
}

.payroll-cards {
    .card {
        margin-bottom: 0.5rem;
        padding: 0.5rem 0;
    }
    h5 {
        text-align: center;
    }
}