

.component-trucks-table{
    width: 95%;
    margin: 0 auto;
    table{
        margin-top: 2rem;
        th,td{
            text-align: center;
        }

        td{
            .btn:last-child{
                position: relative;
                left: 0.5rem;
            }
        }
    }
    .table-controls{
        display: flex;
        justify-content: flex-end;
    }
}

.component-truck-add{
    margin-top: 2rem;
    h4{
        text-align: center;
    }
    .truck-form{
        padding: 10px;
    }
    .truck-add-buttons{
        display: flex;
        justify-content: flex-end;
    }
    .truck-add-buttons .btn{
        margin-right: 10px;
    }

}