.component-contacts {
    .dashboard-header {
        justify-content: space-between;
    }
    .dashboard-header {
        margin-top: 1rem;
    }
    .header-controls {
        .btn:first-child {
            margin-right: 1rem;
        }
    }
    .contacts-main {
        width: 95%;
        margin: 0 auto;
    }
    table {
        margin-top: 2rem;
    }
    td i {
        font-size: 1.25rem;
    }
    td button {
        margin-right: 0.5rem;
    }
    td button:last-child {
        margin-right: 0;
    }
    .select {
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    .table-controls {
        display: flex;
        justify-content: flex-end;
    }
}

.component-contacts-add {
    margin-top: 1rem;
    h4{
        text-align: center;
    }
  form{
      width: 80%;
      margin: 0 auto;
  }

  .submit{
      display: flex;
      justify-content: flex-end;
      .btn:last-child{
          margin-left: 1rem;
      }
  }
}

.component-contacts-mail {
    .card-header,
    .card {
        display: flex;
    }
}