.component-dashboard-trucks {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
    .trucks-header {
        height: 4rem;
        border-bottom: 1px solid grey;
        display: flex;
        align-items: center;
        padding: 0 6rem;
        justify-content: space-between;
        height: 10%;
    }
    .trucks-search-add {
        display: flex;
    }
    .search {
        margin-right: 8rem
    }
    .trucks-view {
        height: 90%;
    }
}

.component-trucks-table{
    table{
        width: 90%;
        margin: 0 auto;
        margin-top: 2rem;
    }
}

.component-truck-add{
   height: 100%;
   display: flex;
   align-items: center;
    .truck-form{
        padding: 10px;
    }
    .truck-add-buttons{
        display: flex;
        justify-content: flex-end;
    }
    .truck-add-buttons .btn{
        margin-right: 10px;
    }

}