.component-dashboard-trucks {
    .card{
        background-color: #2C3E50;
        color: #fff;
        border-bottom: 1px solid white;
    }
    .component-trucks-table {
        height: 88.5vh;
    }
    .component-truck-add {
        margin-top: 2rem;
        h4 {
            text-align: center;
        }
        .truck-form {
            padding: 10px;
        }
        .truck-add-buttons {
            display: flex;
            justify-content: flex-end;
        }
        .truck-add-buttons .btn {
            margin-right: 10px;
        }
    }
}