.component-dashboard-drivers{
    .dashboard-header{
        display: flex;
        justify-content: space-between;
    }
    .search-button{
        padding: 0 0.5rem;
    }

    .dashboard-drivers-view{
        margin-top: 1rem;
    }

    th{
        text-align: center;
    }
}

.dashboard-drivers-add{
    h3{
        font-size: 2rem;
    }
    .form-drivers-add{
        padding: 1rem;
    }

    .form-drivers-add-buttons{
        display: flex;
        justify-content: flex-end;
    }

    .btn{
        padding: 0.5rem 1rem;
        width: 5rem;
        margin-right: 0.75rem;
    }
}