.component-payroll {
    color: #fff;
    .card{
        background-color: #2C3E50;
        border-bottom: 1px solid white;
    }
    .row {
        margin-bottom: 1.5rem;
    }
    .payroll-header {
        position: relative;
        margin: 1.5rem 0;
        h4 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        .form-group {
            position: absolute;
            left: 3%;
            top: 20%;
            width: 16%;
            display: flex;
            justify-content: space-between;
            label {
                font-size: 1.1rem;
                position: relative;
                top: 0.5vh;
            }
        }
    }
    h6 {
        text-align: center;
        font-size: 1.5rem;
    }
    .chart {
        margin-bottom: 0.8rem;
    }
    .payroll-container {
        display: flex;
        align-items: center;
    }
    .table-header{
        border-top: 1px solid #fff;
    }
}

.component-payroll-table{
    width: 100%;
    height: 88.5vh;
}

.component-payroll-add {
    width: 65%;
    margin: 0 auto;
    .form-header {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    margin-top: 2.5rem;
    .submit-payroll {
        display: flex;
        justify-content: flex-end;
        button:last-child {
            margin-left: 1rem;
        }
    }
}

.component-payroll-chart {
    .row {
        display: flex;
        justify-content: center;
    }
}

.payroll-cards {

    .card {
        margin-bottom: 0.5rem;
        padding: 0.5rem 0;
        background-color: rgba(75, 192, 192, 1);
        border-bottom: none;
        
    }
    h5,h6 {
        text-align: center;
        color:inherit;
        font-weight: bold;
    }
    h6{
        font-size: 1.25rem;
    }
}