.component-dashboard-home {
    height: 100%;
    color: #fff;
   .card{
       background-color: #2C3E50;
   }
    h5 {
        text-align: center;
        font-size: 1.75rem;
        margin-top: 2vh;
    }
    .dashboard-home-view {
        height: 88.5%;
    }
    .component-revenue{
        width: 90%;
        height: 88.5vh;
        margin: 0 auto;
        .metrics-header{
            border: 1px solid red;
        }
        .stats{
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
            margin-top: 1vh;
            .card{
                background-color: rgba(75, 192, 192, 1);
                text-align: center;
                padding: 0.75rem 0;
                width: 31%;
                h6,p{
                    margin: 0;
                }
                h6{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                p{
                    font-size: 1.25rem;
                    font-weight: bold;
                }
            }
        }
        .graph{
            position: relative;
            padding: 1rem 0;
            .form-group{
                position: absolute;
                top: 1rem;
                right: 0;
                width: 7rem;
                margin-right: 1rem;
                display: flex;
                justify-content: space-between;
                label{
                    font-size: 1.25rem;
                    position: relative;
                    top: 0.4vh;
                }
            }
        }
    }
}