.pagination{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    .pagination-button{
        border: 1px solid whitesmoke;
        padding: 3px 10px;
        i{
            font-size: 1.25rem;
        }
        &:hover{
            cursor: pointer;
        }
    }
    .pages{
        display: flex;
        .page-number{
            border: 1px solid whitesmoke;
            padding: 3px 10px;
        }
    }
    
    .active{
        background-color: #3D52D5;
    }
}