.table-container {
    height: 97%; 
    width: 98%;
    margin: 0 auto;
    margin-top: 2vh;
    color: $light;

    position: relative;
    .table{
        margin-bottom: 0;
    }
    
    .add-expense {
        position: absolute;
        right: 3%;
    }
    .table-controls {
        display: flex;
        justify-content: flex-end;
    }
    .table-header {
        height: 11%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgba(0, 0, 0, 0.75);
        border-left: 1px solid rgba(0, 0, 0, 0.75);
        border-right: 1px solid rgba(0, 0, 0, 0.75);
        h4 {
            font-size: 1.65rem;
        }
        .table-add {
            position: absolute;
            right: 3%;
            .btn {
                background-color: transparent;
                border: 1px solid $primary-yellow;
                color: $light;
                &:hover {
                    background-color: #007BFF;
                }
            }
        }
    }
    table {
        th,
        td {
            text-align: center;
            border: 2px solid rgba(0, 0, 0, 0.75);
            border-left: 1px solid black;
        }
        th {
            padding: 1%;
            font-size: 1.25rem;
        }
        td {
            position: relative;
            padding: 0.9%;
            font-size: 1.1rem;
        }

        td.table-buttons {
            padding: 0;
            .btn {
                position: relative;
                top: 1vh;
                padding: 3px 7px;
            }
            .btn:last-child {
                margin-left: 5%;
            }
        }
    }
    .table-controls {
        height: 8%;
        width: 80%;
        margin: 0 auto;
        padding: 0 1rem;
        position: absolute;
        bottom: 1%;
        display: flex;
        justify-content: center;
        right: 10%;
    }
}