@import url('https://fonts.googleapis.com/css?family=Oswald');
//  TABLE OF CONTENTS

// 1. Colors

// 2. Font-Family

// ====== 1. COLORS ====== //
$light: #F2F2F2;
$light-section-divider: #F1F3F5;
$primary-blue: #0E79B2;
$nav-bg: #1D8C8A;
$link-blue: #1859F2;
$primary-yellow: #BAA531;



// ====== 2. Font Family ===== //
$font-family-oswald: 'Oswald', 'Arial', sans-serif;

