@import url('https://fonts.googleapis.com/css?family=Oswald');

.component-home{
    font-family: 'Oswald', 'Arial', sans-serif;
}

/* Header Styles */
.header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url('./images/lorry-mountains-nature-93398.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    position: relative;
}

.header-nav{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.header-nav-logo{
    color: white;
}

.link:link,
.link:active{
    color: #F6F6F6;
    padding-left: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.btn-login{
    background-color: #3A80B2;
    font-size: 1.25rem;
    color: #F6F6F6;
    position: relative;
    top: 5px;
}

.header-hero{
    color: #F6F6F6;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
}

.header-hero h1{
    margin-bottom: 1.5rem;
}

/* Section Styles */
.section{
    padding: 4rem 3rem;
}

.section-heading{
    text-align: center;
    margin-bottom: 3rem;
}

.section-heading-primary{
    font-size: 3rem;
}

.section-heading-secondary{
    font-size: 1.3rem;
}
.section .row{
    margin-bottom: 1.5rem;
}


/* Features Section Styles */
.feature-container{
    text-align: center;
}
.feature-heading-primary{
    margin-top: 1rem;
    font-size: 1.75rem;
}
/* Font Sizes */
.fa{
    font-size: 3rem;
}

/* Pricing Section */
.pricing{
    background-color: #F1F3F5;
}

.card{
    background-color: #0E79B2;
    height: 25rem;
}

.card-heading{
    text-align: center;
    padding: 1rem 0;
}

.card-heading-primary{
    color: #F1F3F5;
    font-size: 2rem;
}

.card-heading-secondary{
    color: #F1F3F5;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card-register{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.btn-register{
    background-color: #FFA400;
    width: 50%;
    border-radius: 5px;
    font-size: 1.25rem;
}