.component-register{
    background-image: url('../Home/images/lorry-mountains-nature-93398.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

.register-form{
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 8rem;
    left: 4rem;
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

nav{
    position: absolute;
    background-color: #1D8C8A;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

h6, h1, h2{
    color: #fff;
}

h1{
    text-align: center;
}

.form-button{
    text-align: center;
}

.btn{
    width: 75%;
}