@import url('https://fonts.googleapis.com/css?family=Oswald');
//  TABLE OF CONTENTS

// 1. Colors

// 2. Font-Family



// ====== 1. COLORS ====== //
$light: #f5f5f5;
$light-section-divider: #F1F3F5;
$primary-blue: #0E79B2;
$primary-yellow: #FFA400;
$nav-bg: #1D8C8A;
$link-blue: #1859F2;
$dash-light: #005874 ;
$dash-dark: #e6e6d4;



// ====== 2. Font Family ===== //
$font-family-oswald: 'Oswald', 'Arial', sans-serif;

